[submodule "ObjectDetection_Kitti/PointRCNN"]
	path = ObjectDetection_Kitti/PointRCNN
	url = https://github.com/sshaoshuai/PointRCNN.git
[submodule "ObjectDetection_Kitti/kitti_eval"]
	path = ObjectDetection_Kitti/kitti_eval
	url = https://github.com/prclibo/kitti_eval.git
